
#home_logo{
    height: 50px;
    width: 50px;
}
.header {
    background-color: white;
    font-size: 13px;
}

.header .navbar .navbar-brand img {
    height: 40px;
}

.header .navbar .nav-item i {
    margin-right: 8px;
}

.header .nav-vl {
    border-left: 2px solid #d6d6d678;
    height: 24px;
    margin: auto 16px;
    display: block;
}

@media(max-width:768px) {
    .header .nav-vl {
        display: none;
    }
}

.header .nav-name {
    font-weight: bold;
    margin: auto 16px;
}

@media(max-width:768px) {
    .header .nav-name {
        margin: 8px 0px
    }
}

.bd-color{
    background-color: #cccccc;
}
.nav-color{
    background-color:antiquewhite;
}

